/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Navigation Bar */
nav {
    background-color: #333;
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

/* Sections */
.section {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border: 2px solid #ddd;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    text-align: center;
    gap: 20px;
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}

img{
    width: 100%;
    height: auto;
    max-width: 100%;
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
}

/*Different Background Colors*/
#home {
    background-color: #ffffff;
}

#about {
    background-color: #0077ff;
    color: rgb(255, 255, 255);
}

#about h2, #about p {
    color: rgb(235, 235, 235);
}

#contact {
    background-color: rgb(10, 21, 33);
    color: rgb(255, 255, 255);
}

#contact h2, #contact p {
    color: rgb(165, 165, 165);
}

/* Text Styles */
h2 {
    color: #333;
    font-size: 24px;
}

p {
    color: #555;
    font-size: 18px;
}

/* Buttons */
button {
    width: 100%;
    max-width: 200px;
    background-color: #008CBA;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 10px;
    transition: background-color 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #005f73;
}

/* Images */
img {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-top: 10px;
}
